<?xml version="1.0" encoding="utf-8"?>
<module loadFromBin="false" name="visualcomparemode" clientResourceRelativePath="" tags="EPiServerModulePackage">
  <assemblies>
    <add assembly="VisualCompareMode" />
  </assemblies>
  <routes>
    <route>
      <defaults>
        <add key="controller" value="Home" />
        <add key="action" value="Index" />
        <add key="id" value="" />
      </defaults>
    </route>
  </routes>
  <dojo>
    <paths>
      <add name="visualcomparemode" path="Scripts" />
    </paths>
  </dojo>

  <clientModule>
    <moduleDependencies>
      <add dependency="CMS" type="RunAfter" />
    </moduleDependencies>
  </clientModule>

  <clientResources>
    <add name="epi-cms.widgets.base"
            path="EpiServerOverridenLibs/CustomCompareCommandProvider.js"
            resourceType="Script" />
    <add name="epi-cms.widgets.base"
            path="EpiServerOverridenLibs/CustomWidgetSwitcher.js"
            resourceType="Script" />
  </clientResources>

</module>